[submodule "skills/work-journal-skill"]
	path = skills/work-journal-skill
	url = https://github.com/Tk1777-sy/-work-journal-skill.git
[submodule "skills/sofagent"]
	path = skills/sofagent
	url = https://github.com/KongFangXun/sofagent.git
[submodule "skills/humanai"]
	path = skills/humanai
	url = https://github.com/MADEVAL/HumanAI.git
[submodule "skills/okf-frontmatter"]
	path = skills/okf-frontmatter
	url = https://github.com/longsizhuo/okf-frontmatter.git
[submodule "skills/anyviz"]
	path = skills/anyviz
	url = https://github.com/TseringYuu/anyviz.git
